body {
  font-family: Open Sans, sans-serif;
  background-color: #f9fbfd;
  color: #383838;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 700px;
  margin: 36px auto;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 12px;
}

@media screen and (max-width: 700px) {
  main {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}


h1 {
  font-size: 3rem;
  line-height: 4rem;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

hr {
  margin: 36px 0 36px;
}
